$body-background-color: rgb(129, 113, 113);
$backgroubd: 	#F8F9FA;
$backgroud-magem: "https://picsum.photos/2000";


html, body {
  width: 100%;

  body {
    margin: 0;
    padding: 0;
    background: #3d7878;
    background: linear-gradient(90deg,rgba(61, 120, 120, 1) 5%, rgba(91, 115, 199, 1) 59%, rgba(176, 145, 99, 1) 95%);
    // background-color: $backgroubd;
    // background-image: url($backgroud-magem);
    // background-repeat: no-repeat;
  }
}